<!DOCTYPE html>
<html>
<head>
    <STYLE TYPE="text/css">
    <!--
    a { color: black }
    -->
    </STYLE>

    <h1>Moje produkty</h1>
</head>
<body>
<form action="{% url 'products' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Szukaj">
</form>
<button><a href="{% url 'products' %}" style="text-decoration: none">Resetuj wyszukiwanie</a></button>
<ul>
    {% for x in my_products %}
        <li>{{ x.product_name }}
        </li> <button><a href="{% url 'product_change' x.id %}">Edycja produktu</a></button>
        </li> <button><a href="{% url 'product_delete' x.id %}">Usuń produkt</a></button>
    {% endfor %}
</ul>
</li> <button><a href="{% url 'product_create' %}">Dodaj nowy produkt</a></button>
<ul>
    <li><a href="{% url 'main' %}">Powrót do strony głównej</a></li>
    <li><a href="{% url 'shopping_list' %}">Wszystkie listy zakupów</a></li>
    <li><a href="{% url 'create' %}">Stwórz nową listę zakupów</a></li>
</ul>
</body>
</html>
