<!DOCTYPE html>
<html>
<head>
    <h1>Moje listy zakupów</h1>
</head>
<body>
{% for x in my_shopping_lists %}
    <!-- Display Objects -->
<ul>
    <tr>
        <td>{{ x.lists_name }}</td>
        <td>
            <form action="{% url 'details' x.id %}">
                 {% csrf_token %}
                <input type="submit" value="Otwórz listę">
            </form>
        </td>
    </tr>
</ul>
{% endfor %}
<ul>
    <li><a href="{% url 'main' %}">Powrót do strony głównej</a></li>
    <li><a href="{% url 'shopping_list_create' %}">Stwórz nową listę zakupów</a></li>
    <li><a href="{% url 'products' %}">Wszystkie dostępne produkty</a></li>
</ul>
</body>
</html>
