{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .my-grid{
    }
    .card-signin {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }

    .card-navigate {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    }

</style>



<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card card-signin">
            <div class="card-body">
                <h1>Moje listy zakupów.</h1>
                <table>
                    <tr>
                        <th>Nazwa listy:</th>
                    </tr>
                    {% for x in my_shopping_lists %}
                        <!-- Display Objects -->
                        <tr>
                            <td>{{ x.lists_name }}</td>
                            <td>
                                <form action="{% url 'details' x.id %}">
                                     {% csrf_token %}
                                    <input type="submit" value="Otwórz listę">
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="card card-navigate">
            <div class="card-body">
                <ul>
                    <li><a href="{% url 'create' %}">Stwórz nową listę zakupów</a></li>
                    <li><a href="{% url 'products' %}">Wszystkie dostępne produkty</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock content %}
