{% extends 'base.html' %}
{% load static %}

{% block content %}

<STYLE TYPE="text/css">

    .card-main {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }

    .card-search {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }

    .card-navigate {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    }

</STYLE>

<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="card card-main">
            <div class="card-body">
                <h1>Dostępne produkty</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card card-search">
            <div class="card-body">
                <p>Wyszukaj produkt</p>
                <form action="{% url 'products' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-success" value="Szukaj">
                </form>
                <a href="{% url 'products' %}"  class="btn btn-light">Resetuj wyszukiwanie</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card card-main">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwa produktu</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in my_products %}
                            <tr>
                                <td>{{ x.product_name }}</td>
                                <td><a href="{% url 'product_change' x.id %}" class="btn btn-primary">Edytuj</a></td>
                                <td><a href="{% url 'product_delete' x.id %}" class="btn btn-danger">Usuń</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'product_create' %}" class="btn btn-success">Dodaj nowy produkt</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="card card-navigate">
            <div class="card-body">
                <ul>
                    <li><a href="{% url 'shopping_list' %}">Wszystkie listy zakupów</a></li>
                    <li><a href="{% url 'create' %}">Stwórz nową listę zakupów</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock content %}
