{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .my-grid{
    }
    .card-main {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }

    .card-navigate {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: auto;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    padding: 5px;
    }

    tr:nth-child(even) {
    background-color: #F1F3F3;
    }

</style>

<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="card card-main">
            <div class="card-body">
                <h1> {{ shoppinglists.lists_name }} </h1>

                <table>
                    <tr>
                        <th> </th>
                        <th>Produkty</th>
                        <th>Ilość</th>
                    </tr>
                    {% for product in products_list %}
                    <tr>
                        <td>
                            <div>
                              <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                     aria-label="...">
                            </div>
                        </td>
                        <td>{{ product.product_name }}</td>
                        <td>
                            <input type="number">
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td>Brak produktów</td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <a href="{% url 'change' shoppinglists.id %}" class="btn btn-primary">Edycja listy</a>
                <a href="{% url 'delete' shoppinglists.id %}" class="btn btn-danger">Usuń listę</a>

            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="card card-navigate">
            <div class="card-body">
                <ul>
                    <li><a href="{% url 'shopping_list' %}">Powrót do list zakupów</a></li>
                    <li><a href="{% url 'products' %}">Wszystkie dostępne produkty</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock content %}

