{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
<h1> {{ shoppinglists.lists_name }} </h1>

<table>
    <tr>
        <th>Produkty:</th>
    </tr>
    {% for product in products_list %}
    <tr>
        <td>{{ product.product_name }}</td>
    </tr>
    {% empty %}
    <li>Brak produktów</li>
    {% endfor %}
</table>

<li><a href="{% url 'change' shoppinglists.id %}">Edycja listy</a></li>
<li><a href="{% url 'delete' shoppinglists.id %}">Usuń listę</a></li>
<li><a href="{% url 'shopping_list' %}">Powrót do list zakupów</a></li>
<li><a href="{% url 'main' %}">Powrót do strony głównej</a></li>
<li><a href="{% url 'products' %}">Wszystkie dostępne produkty</a></li>
</body>

{% endblock content %}

