{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .my-grid{
    }
    .card-signin {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }
</style>

<html>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card card-signin">
            <div class="card-body">
                <div class="my.grid d-flex flex-column">
                    <h1>Kreator list zakupów</h1>
                    <ul>
                        <li><a href="{% url 'create' %}">Stwórz nową listę zakupów</a></li>
                        <li><a href="{% url 'shopping_list' %}">Wszystkie listy zakupów</a></li>
                        <li><a href="{% url 'products' %}">Wszystkie dostępne produkty</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}
