{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .my-grid{
    }
    .card-main {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }
</style>

<html>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card card-main">
            <div class="card-body">
                <div class="my.grid d-flex flex-column">
                    <h1>Kreator list zakupów</h1>
                        <a href="{% url 'create' %}" class="btn btn-outline-primary btn-lg">
                            Stwórz nową listę zakupów</a>
                        <br>
                        <a href="{% url 'shopping_list' %}" class="btn btn-outline-primary btn-lg">
                            Wszystkie listy zakupów</a>
                        <br>
                        <a href="{% url 'products' %}" class="btn btn-outline-primary btn-lg">
                            Wszystkie dostępne produkty</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}
