<!DOCTYPE html>
<html>
<head>
    <title>Stwórz nową listę</title>
    <h1>Stwórz nową listę!</h1>
</head>
<body>
<p>Dodaj produkty, a ilość skonfigurujesz na następnej stronie.</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Dodaj">
</form>
<form action="{% url 'shopping_list' %}">
    {% csrf_token %}
    <input type="submit" value="Anuluj">
</form>
<li><a href="{% url 'main' %}">Powrót do strony głównej</a></li>
<li><a href="{% url 'shopping_list' %}">Przejdź do wszystkich list</a></li>
<li><a href="{% url 'products' %}">Wszystkie dostępne produkty</a></li>
</body>
</html>