{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .my-grid{
    }
    .card-main {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    }
</style>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card card-main">
            <div class="card-body">
                <h1>Edytowany produkt: "{{ products.product_name }}"</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Zapisz zmiany">
                </form>
                <form action="{% url 'products' %}">
                    {% csrf_token %}
                    <input type="submit" value="Anuluj zmiany">
                </form>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock content %}